
<div class="column is-half">
  <form class="container" (submit)="editRest()">
    <div class="field">
      <p class="label">Restaurant name:</p>
      <input class="input" type="text" name="restaurant.name" [(ngModel)]="restaurant.name">
    </div>
    <div class="field">
      <p class="label">Cuisine type:</p>
      <input class="input" type="text" name="restaurant.cuisine" [(ngModel)]="restaurant.cuisine">
    </div>
    <div class="field is-grouped">
      <button class="button is-info is-light is-small" (click)="closeEdit()">Cancel</button>
      <input class="button is-success is-small" type="submit" value="Edit">
    </div>
  </form>
  <div *ngIf="errors">
    <p class="has-text-danger" *ngFor='let error of errors'>{{error}}</p>
  </div>
</div>